In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('Dataset/datasetWithTarget.csv')

,recency,history,used_discount,used_bogo,zip_code,is_referral,channel,offer,conversion,customer_types
0,10,142.44,1,0,1,0,2,1,0,2
1,6,329.08,1,1,3,1,1,0,0,0
2,7,180.65,0,1,1,1,1,1,0,2
3,9,675.83,1,0,3,1,1,-1,0,2
4,2,45.34,1,0,2,0,1,1,0,2
...,...,...,...,...,...,...,...,...,...,...
63995,10,105.54,1,0,2,0,1,-1,0,2
63996,5,38.91,0,1,2,1,2,-1,0,2
63997,6,29.99,1,0,2,1,2,-1,0,2
63998,1,552.94,1,0,1,1,3,1,0,2
63999,1,472.82,0,1,1,0,1,-1,0,2

In [8]:
# Check for missing values in each column
print(df.isnull())
print('////')
# Check for missing values in the entire DataFrame (any column)
print(df.isnull().any())
print('////')

# Check for non-missing values in each column
print(df.notnull())
print('////')

       recency  history  used_discount  used_bogo  zip_code  is_referral  \
0        False    False          False      False     False        False
1        False    False          False      False     False        False
2        False    False          False      False     False        False
3        False    False          False      False     False        False
4        False    False          False      False     False        False
...        ...      ...            ...        ...       ...          ...
63995    False    False          False      False     False        False
63996    False    False          False      False     False        False
63997    False    False          False      False     False        False
63998    False    False          False      False     False        False
63999    False    False          False      False     False        False

       channel  offer  conversion  customer_types
0        False  False       False           False
1        False  False       False           False
2        False  False       False           False
3        False  False       False           False
4        False  False       False           False
...        ...    ...         ...             ...
63995    False  False       False           False
63996    False  False       False           False
63997    False  False       False           False
63998    False  False       False           False
63999    False  False       False           False

[64000 rows x 10 columns]
////
recency           False
history           False
used_discount     False
used_bogo         False
zip_code          False
is_referral       False
channel           False
offer             False
conversion        False
customer_types    False
dtype: bool
////
       recency  history  used_discount  used_bogo  zip_code  is_referral  \
0         True     True           True       True      True         True
1         True     True           True       True      True         True
2         True     True           True       True      True         True
3         True     True           True       True      True         True
4         True     True           True       True      True         True
...        ...      ...            ...        ...       ...          ...
63995     True     True           True       True      True         True
63996     True     True           True       True      True         True
63997     True     True           True       True      True         True
63998     True     True           True       True      True         True
63999     True     True           True       True      True         True

       channel  offer  conversion  customer_types
0         True   True        True            True
1         True   True        True            True
2         True   True        True            True
3         True   True        True            True
4         True   True        True            True
...        ...    ...         ...             ...
63995     True   True        True            True
63996     True   True        True            True
63997     True   True        True            True
63998     True   True        True            True
63999     True   True        True            True

[64000 rows x 10 columns]
////

In [7]:
missing_counts = df.isnull().sum()
missing_counts

recency           0
history           0
used_discount     0
used_bogo         0
zip_code          0
is_referral       0
channel           0
offer             0
conversion        0
customer_types    0
dtype: int64